body {
  margin: 0;
  padding: 0;
  font-family: "Arial Black", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rounded-button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  font-size: 24px;
  border-width: 3px;
  padding: 0px;
}

.rounded-button span {
  vertical-align: center;
}